[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "cesium-native/extern/glm"]
	path = cesium-native/extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "cesium-native/extern/uriparser"]
	path = cesium-native/extern/uriparser
	url = https://github.com/uriparser/uriparser.git
